@import "../../assets/scss/variables.scss";
$headerHeight: 60px;
.container {
  .trading-chart {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
